.Option {
	padding: 5px 10px;
	border: 1px solid rgba(17, 103, 184, 0.7);
	border-radius: 6px;
	margin-bottom: 10px;

	transition: 0.2s;

	&:not([data-readonly]):not([data-correct]):not([data-checked]):hover {
		cursor: pointer;
		background-color: rgba(32, 71, 197, 0.1);
	}

	&[data-checked="true"] {
		background-color: rgba(0, 119, 255, 0.342);
		border-radius: 2px;
		border-color: transparent;
		box-shadow: rgba(0,0,0, 0.3) 6px 8px 5px -2px;
	}
	&[data-correct="true"] {
		background-image: repeating-linear-gradient(
			-50deg,
			transparent,
			transparent 20px,
			rgba(136, 255, 136, 0.4) 20px,
			rgba(136, 255, 136, 0.4) 40px
		  );
		border-radius: 2px;
		border-color: transparent;
		box-shadow: rgba(0,0,0, 0.3) 6px 8px 5px -2px;
	}
	&[data-correct="true"][data-checked="true"] {
		background-image: none;
		border-style: solid;
		border-color: transparent;
		background-color: rgba(80, 250, 37, 0.767);
	}

	

	&[data-correct="false"] {
		background-color: rgba(250, 37, 37, 0.767);
		border-color: transparent;
	}

	pre, code {
		font-family: "Jetbrains Mono", "Consolas", "Cascadia Code", 'Courier New', Courier, monospace;
	}
}
